# `nearest_record` example

For `synthimpute` package. Uses the `mpg` sample dataset.

## Setup

In [1]:
import synthimpute as si
import pandas as pd
import numpy as np
from scipy.spatial.distance import euclidean
import math

In [2]:
mpg = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')
# Drop class columns and sometimes-missing horsepower.
mpg.drop(['origin', 'name', 'horsepower'], axis=1, inplace=True)

## Synthesize

In [3]:
synth = si.rf_synth(mpg, ['cylinders'], random_state=0)

Synthesizing feature 1 of 5: mpg...
Synthesizing feature 2 of 5: acceleration...
Synthesizing feature 3 of 5: weight...
Synthesizing feature 4 of 5: displacement...
Synthesizing feature 5 of 5: model_year...

## `nearest_record`

In [4]:
nearest = si.nearest_record(synth, mpg, metric='euclidean')
nearest.head()

   id1       dist  id2
0    0   0.229330  203
1    1   4.075580  365
2    2   3.621807  233
3    3   4.045211  125
4    4  11.679206  332

In [5]:
row = nearest.iloc[0]
math.isclose(row.dist, euclidean(synth.iloc[int(row.id1)], mpg.iloc[int(row.id2)]))

False

### Blocked

In [6]:
nearest_blocked = si.nearest_record(synth, mpg, ['cylinders'], metric='euclidean')
nearest_blocked.head()

Running block 1 of 5...
Running block 2 of 5...
Running block 3 of 5...
Running block 4 of 5...
Running block 5 of 5...

   id1       dist  id2
0    0   0.229330  203
1    1   4.075580  365
2    2   3.621807  233
3    3   4.045211  125
4    4  11.679206  332

In [7]:
row_blocked = nearest_blocked.iloc[0]
math.isclose(row_blocked.dist, 
             euclidean(synth.iloc[int(row.id1)], mpg.iloc[int(row.id2)]))

False

#### Calculate from `block_cdist`

In [8]:
dist_blocked = si.block_cdist(synth, mpg, ['cylinders'], metric='euclidean')

Running block 1 of 5...
Running block 2 of 5...
Running block 3 of 5...
Running block 4 of 5...
Running block 5 of 5...

In [9]:
math.isclose(row_blocked.dist,
             dist_blocked[dist_blocked.id1 == row_blocked.id1].dist.min())

True

#### Compare blocked and unblocked

Blocking means we might miss the true minimum distance, as we did for `id1=1`.

In [10]:
comp = nearest.merge(nearest_blocked, on='id1')
comp.head()

   id1     dist_x  id2_x     dist_y  id2_y
0    0   0.229330    203   0.229330    203
1    1   4.075580    365   4.075580    365
2    2   3.621807    233   3.621807    233
3    3   4.045211    125   4.045211    125
4    4  11.679206    332  11.679206    332

## Test new one

In [50]:
def nearest_single(XA, XB, **kwargs):
    dist = cdist_long(XA, XB, **kwargs).reset_index(drop=True)
    nearest = dist.groupby('id1').dist.nsmallest(1).reset_index()
    return nearest.set_index('level_1').join(dist.id2).reset_index(drop=True)

In [52]:
from synthimpute import *

def nearest(XA, XB, block_vars=None, verbose=True, **kwargs):
#     if block_vars is None:
#         return cdist_long(XA, XB, **kwargs)
    # TODO: Use adjacent_vars.
    A_blocks = XA[block_vars].drop_duplicates()
    B_blocks = XB[block_vars].drop_duplicates()
    # TODO: Warn when some blocks are dropped.
    blocks = A_blocks.merge(B_blocks, on=block_vars)
    n_blocks = blocks.shape[0]
    res = []
    for index, row in blocks.iterrows():
        if verbose:
            print('Running block ' + str(index + 1) + ' of ' + str(n_blocks) +
                  '...')
        res.append(nearest_single(subset_from_row(XA, row),
                                  subset_from_row(XB, row), **kwargs))
    return pd.concat(res).reset_index(drop=True)

In [55]:
XA = synth.copy()
XB = mpg.copy()
block_vars = ['cylinders']

In [56]:
nearest(XA, XB, block_vars)

Running block 1 of 5...
Running block 2 of 5...
Running block 3 of 5...
Running block 4 of 5...
Running block 5 of 5...

     id1        dist  id2
0      0    0.229330  203
1      2    3.621807  233
2      4   11.679206  332
3      6    1.292878  279
4      7    8.944928  332
5     11    4.007225  203
6     16    9.596968  296
7     17   11.002231  318
8     23    0.535770  279
9     31   10.488405  390
10    32    0.309326  371
11    33    8.016141  332
12    35    2.870499  332
13    38    1.415476  266
14    39    4.052831  197
15    42    8.998327  332
16    44    1.009067  279
17    45    7.072349  203
18    47    4.101600  371
19    48    2.016334  167
20    50    0.720525  266
21    51   14.995380  145
22    56   13.994882  332
23    59    5.644707  239
24    60    3.423474  237
25    61    3.450200  279
26    62    1.474825  203
27    65    8.858107  371
28    66    1.640594  332
29    68   15.534408  295
..   ...         ...  ...
368  338    0.123361    1
369  340    6.113184  229
370  342    3.012899  121
371  344   65.072098  121
372  346    3.200579    3
373  350   16.764936  288
374  352    0.175434    1
375  355    0.310369    1
376  358   18.926408    1
377  359    2.078508  156
378  360   17.063007   89
379  369   14.153802  121
380  381    9.720667  285
381  383    0.219470    1
382  385    0.209998  223
383  386   33.140149    1
384  389   82.000263  121
385  397    8.663049  288
386   30   52.007788   71
387   36    0.433333  243
388   90  213.012497  243
389  216    1.156432   71
390  243   52.000106   71
391  319  138.014528  243
392  206   20.270684  327
393  211  285.754178  274
394  258   11.047172  297
395  326  115.202076  297
396  330    2.739069  297
397  395  285.846579  327

[398 rows x 3 columns]

In [43]:
tmp = cdist_long(subset_from_row(XA, row),
                 subset_from_row(XB, row)).reset_index(drop=True)

In [36]:
cdist_long(XA.iloc[[0]], XB)

            dist  id1  id2
0    1692.134766    0    0
1     456.795857    0    1
2    1581.064224    0    2
3     416.633242    0    3
4    1674.643862    0    4
5     388.034997    0    5
6    1385.023198    0    6
7    1672.298663    0    7
8     687.450679    0    8
9     269.741670    0    9
10    106.473127    0   10
11   1692.153603    0   11
12    763.535922    0   12
13    687.441703    0   13
14    189.080453    0   14
15    750.299127    0   15
16    856.659906    0   16
17    809.562815    0   17
18    666.450851    0   18
19    105.209035    0   19
20    334.028216    0   20
21    110.023186    0   21
22    388.029994    0   22
23   1385.022695    0   23
24    712.393960    0   24
25    288.546289    0   25
26    298.176034    0   26
27    453.189752    0   27
28    306.387233    0   28
29    735.073152    0   29
..           ...  ...  ...
368   365.707537    0  368
369   105.204037    0  369
370  1384.945173    0  370
371   525.086471    0  371
372  1349.517680    0  372
373   856.783707    0  373
374  1349.505163    0  374
375   303.530036    0  375
376  1384.946619    0  376
377  1504.053892    0  377
378   145.731081    0  378
379  1578.090932    0  379
380  1175.016976    0  380
381   330.534790    0  381
382   269.961051    0  382
383   193.854542    0  383
384  1384.941793    0  384
385   636.141376    0  385
386   203.752709    0  386
387  1578.089065    0  387
388  1692.154943    0  388
389   140.336289    0  389
390   848.598153    0  390
391  1578.098903    0  391
392   168.648311    0  392
393   110.902767    0  393
394    65.812259    0  394
395   327.650935    0  395
396  1652.864055    0  396
397   330.712352    0  397

[398 rows x 3 columns]

In [ ]:
set_index('level_1').join(dist.id2).reset_index(drop=True)

In [46]:
tmp.groupby('id1').dist.nsmallest(1).reset_index()

     id1  level_1        dist
0      0     5459   71.125529
1      1     2885    0.033446
2      2     5461   14.640688
3      3     5462    0.994011
4      4     5463   16.291955
5      5     4434   33.742262
6      6     5980   60.054106
7      7     4436   42.675873
8      8     4540   67.712895
9      9     6292   31.080707
10    10     3615  130.003200
11    11    10620   84.666240
12    12     1248   60.112033
13    13     1043  198.922300
14    25     8151   66.653531
15    26     1560    7.985308
16    27     1561    8.353012
17    28     8154  115.753486
18    38     8876    6.163928
19    39     4551    5.022716
20    40     2080    1.463022
21    41     5789   14.919265
22    42     8159  287.520791
23    43     8160   78.031807
24    44     8161  472.005257
25    62      540   21.177025
26    63     8369    1.318214
27    64     2293    5.030798
28    65     5384   11.077126
29    66     5694   21.108439
..   ...      ...         ...
73   208     1206   36.329892
74   212     8829    1.742572
75   213     4401    4.758726
76   214       76   22.520577
77   215    11098   34.915760
78   221       78   12.928588
79   222     5847   62.326993
80   223     4921    0.104345
81   224     6673   34.314300
82   229    10176    6.113184
83   230     6778    6.048671
84   231     4513    1.053379
85   232     6677   34.785888
86   249      704   54.697350
87   250    10902   40.545355
88   251     5753  123.222900
89   262     8123   10.398276
90   264     1120   13.691619
91   265     7919    3.553476
92   285      813    4.740047
93   286     5758   32.739151
94   287     1227    3.189014
95   288    11837    8.663049
96   289     8851   20.641974
97   290     4423    0.021006
98   291     5763   95.782199
99   292     1232   18.014009
100  298      100   47.993470
101  300     8135   48.191381
102  364    10917   22.036453

[103 rows x 3 columns]

In [21]:
A_blocks = XA[block_vars].drop_duplicates()
B_blocks = XB[block_vars].drop_duplicates()
# TODO: Warn when some blocks are dropped.
blocks = A_blocks.merge(B_blocks, on=block_vars)
n_blocks = blocks.shape[0]

In [24]:
row = blocks.iloc[0]

In [28]:
si.cdist_long(si.subset_from_row(XA, row),
           si.subset_from_row(XB, row)).groupby('id1').dist.nsmallest(1).reset_index()

     id1  level_1        dist
0      0     5459   71.125529
1      1     2885    0.033446
2      2     5461   14.640688
3      3     5462    0.994011
4      4     5463   16.291955
5      5     4434   33.742262
6      6     5980   60.054106
7      7     4436   42.675873
8      8     4540   67.712895
9      9     6292   31.080707
10    10     3615  130.003200
11    11    10620   84.666240
12    12     1248   60.112033
13    13     1043  198.922300
14    25     8151   66.653531
15    26     1560    7.985308
16    27     1561    8.353012
17    28     8154  115.753486
18    38     8876    6.163928
19    39     4551    5.022716
20    40     2080    1.463022
21    41     5789   14.919265
22    42     8159  287.520791
23    43     8160   78.031807
24    44     8161  472.005257
25    62      540   21.177025
26    63     8369    1.318214
27    64     2293    5.030798
28    65     5384   11.077126
29    66     5694   21.108439
..   ...      ...         ...
73   208     1206   36.329892
74   212     8829    1.742572
75   213     4401    4.758726
76   214       76   22.520577
77   215    11098   34.915760
78   221       78   12.928588
79   222     5847   62.326993
80   223     4921    0.104345
81   224     6673   34.314300
82   229    10176    6.113184
83   230     6778    6.048671
84   231     4513    1.053379
85   232     6677   34.785888
86   249      704   54.697350
87   250    10902   40.545355
88   251     5753  123.222900
89   262     8123   10.398276
90   264     1120   13.691619
91   265     7919    3.553476
92   285      813    4.740047
93   286     5758   32.739151
94   287     1227    3.189014
95   288    11837    8.663049
96   289     8851   20.641974
97   290     4423    0.021006
98   291     5763   95.782199
99   292     1232   18.014009
100  298      100   47.993470
101  300     8135   48.191381
102  364    10917   22.036453

[103 rows x 3 columns]

In [11]:
nearest_blocked

     id1        dist  id2
0      0    0.229330  203
1      1    4.075580  365
2      2    3.621807  233
3      3    4.045211  125
4      4   11.679206  332
5      5    1.000708   72
6      6    1.292878  279
7      7    8.944928  332
8      8   20.026911   38
9      9    3.537331  280
10    10    5.006283  226
11    11    4.007225  203
12    12   16.742793  116
13    13   19.747799   38
14    14   21.008695   86
15    15   21.177025   62
16    16    9.596968  296
17    17   11.002231  318
18    18    7.895949  389
19    19   16.009108  121
20    20    4.740047  285
21    21    0.554220  226
22    22    0.182963   72
23    23    0.535770  279
24    24    0.106729  190
25    25   13.691619  264
26    26   17.126189  202
27    27    3.189014  287
28    28   15.583441   96
29    29   23.452669  190
..   ...         ...  ...
368  368    4.496845  253
369  369   14.153802  121
370  370    0.099472  279
371  371    4.000141  281
372  372    2.185696  167
373  373   10.776948  390
374  374    0.300876  167
375  375    1.535216  176
376  376    0.074822  279
377  377   13.748316  303
378  378    0.638769  258
379  379    2.028526  233
380  380   11.959815  356
381  381    9.720667  285
382  382    8.038553  280
383  383    0.219470    1
384  384    1.010491  279
385  385    0.209998  223
386  386   33.140149    1
387  387    2.127226  233
388  388    4.275439  203
389  389   82.000263  121
390  390    0.268900  305
391  391    0.733641  233
392  392    2.086674  199
393  393    0.164142  256
394  394   10.075444  228
395  395  285.846579  327
396  396   11.050057  117
397  397    8.663049  288

[398 rows x 3 columns]